*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0 50px;
}
main{
    max-width: 1200px;
    margin: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    border-bottom: 1px solid rgb(181, 181, 181);

}
header svg{
    max-width: 150px;
}
.post-grid{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    width: 100%;
    padding: 104px 0;
}
.post-card{
    /* border-radius: 24px; */
    padding:32px;
    
    background-color: #e2e2e2;
    width: calc((100% /3) - 1.4vw);
    max-width: 600px;
    /* box-shadow: rgba(149, 157, 165, 0.1) 0px 0px 24px;
    border: 2px solid #032b36; */
    cursor: pointer;
}
.post-card:hover{
    background-color: #032b36;
}

.post-card h2{
    font-size: 20px;
    line-height: 1.4;
    font-family: basier_circlesemibold;
    color:#032b36;
}
.post-card:hover h2{
    color: white;
}